<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ERDRE - Virtual sensors</title>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" title="Stylesheet">
        <link rel="icon" type="image/png" href="static/favicon.png">
        <script src="{{ url_for('static', filename='jquery.js')}}"></script>
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>

            {% include "models_overview.html" %}
  
        <footer>

        </footer>
    </body>
</html>


