body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f6f6f6;
}

h1 {
	font-size: 3em;
}

.navbar {
	background-color: #000;
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.navbar li {
	padding: 0 15px;
}
.navbar a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}


header .banner {
    background-color: #161617;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header .banner p {
	font-size: 1.5em;
}

section.box {
	max-width: 90ch;
    padding: 20px;
    background-color: white;
	margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

section h2 {
    color: #333;
    font-weight: normal;
}

section.nobox {
	max-width: 90ch;
	margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
	max-width: 90ch;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto; /* Two columns */
	/* padding: 10px; */
	gap: 10px; /* Spacing between the boxes */
}
.grid-item {
	background-color: #fff; /* White boxes */
	border: 1px solid #ddd; /* Light-grey border */
	padding: 20px;
	text-align: center;
	border-radius: 5px; /* Rounded corners for the boxes */
	box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
}

a {
    color: #007aff;
}

button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1em;
	background-color: #fff; 
	border: none;
	color: #161617;
	cursor: pointer;
	border-radius: 5px;
}
